.section-dashboard {
    display: flex;
    margin:0 10%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    .head-dashboard{
        padding: 0 5rem 0 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;   

        h1{
            font-size: 3.5rem;
            font-weight: 600;
        }

        p{
            font-size:1.2rem;
            font-weight: 400;
        }

        a{
            font-size:1.6rem;
            outline: none;
            text-decoration: none;
            padding: 1rem;
            background-color: orange;
            border-radius: 1rem;
            width: fit-content;
            color: white;
            font-weight: 600;
        }

        a:hover{
            opacity: 0.7;
        }
    }
}

